#main #content h1, #main #content h2, #main #content h3, #main #content h4, #main #content h5, #main #content h6 {
  color: #abacda; }
#main #content p {
  font-size: 18.2px; }
#main #content h1 {
  font-size: 28px; }
#main #content h2 {
  font-size: 28px; }
#main #content h3 {
  font-size: 16.8px; }
#main #content h4 {
  font-size: 18.2px; }
#main #content h5 {
  font-size: 16.8px; }

.header {
  background-color: #1b1b1b; }

.menubar {
  background: #363331; }

#content {
  background-color: #010101; }

img {
  width: 100%; }

#main #godfather + p + p {
  margin: 28px auto;
  font-size: 24px;
  text-align: center;
  color: #690e03; }

#main #godfather {
  display: none; }

img[alt="title"] {
  margin-bottom: -6px; }
